.parent {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.speciall {
    color: goldenrod;
}

.text-center {
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}